#divlogo{
    height: 50px;
}
#imglogo{
    height: 50px;
}

a{
    text-decoration: none;
    color: black;
}
nav a{
    color: black!important;
}
nav a:hover{
    color: #FF003F!important;
    transition: 0.2s;
}
a:hover{
    color: white;
}

.formulario{
    border: 3px solid black;
    border-style: outset!important;
    border-radius: 1rem;
}

@media (max-width: 768px) {
    .formulario{
        width: 95%!important;
    }
}

.pedidos{
    margin: 0!important;
}

.logo{
     width: 20%;
     margin: 0!important;

}
.logui{
    display: flex;
    justify-content: center;
    align-items: center;
}
iframe{
    height: 20rem;
}
