#divlogo{
    height: 50px;
}
#imglogo{
    height: 50px;
}

a{
    text-decoration: none;
    color: black;
}
nav a{
    color: black!important;
}

a:hover{
    color: white;
}

.formulario{
    border: 2px solid black;
  
    border-radius: 1rem;
}

@media (max-width: 768px) {
    .formulario{
        width: 95%!important;
    }
}

.pedidos{
    margin: 0!important;
}

.logo{
     width: 20%;
     margin: 0!important;

}
.logui{
    display: flex;
    justify-content: center;
    align-items: center;
}
iframe{
    height: 20rem;
}

@media (max-width: 1080px) {
 table{
    width: 90%!important;
 }   
}

li a{
    font-weight: bold;
    font-size: 1.5rem;
}

nav a:hover{
    color: #FF003F!important;
    text-decoration-color: black!important;
    transition: 0.2s;
}

@media (max-width: 1080px) {
    .margin{
       margin-left: 2rem;
    }
    .margin2{
        margin-right: 2rem;
    }   
   }